/* Start Common Section */

body {
    font-family: 'Archivo Narrow', sans-serif;
    font-family: 'Jost', sans-serif;
}

section {
    padding-left: 4%;
    padding-right: 4%;
}

.content_article {
    display: flex;
}

.divide_width {
    width: 50%;
}


/*Common Section End */


/* text justify For all paragraph and highlight same color text*/

p {
    text-align: justify;
    color: rgb(13 15 16);
}

.text_highlit {
    color: rgb(57, 241, 180);
}

#top_heading p {
    font-size: 32px;
    border-left: 3px solid rgb(12, 241, 108);
    padding-left: 10px;
}


/* button Style Start*/

#explore_btn_position {
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn_style {
    text-decoration: none;
    background-color: rgb(12, 241, 108);
    color: rgb(255, 255, 255);
    padding: 9px 20px;
    border-radius: 5px;
}


/* button Style end*/


/* mission , vission , goal area*/

.mission_image img {
    padding-left: 20%;
}

#mision_area {
    background-color: rgb(153, 252, 219);
    margin: 0 8px;
    border-radius: 10px;
}

#vision_area {
    background-color: rgb(129, 253, 212);
    border-radius: 10px;
    margin: 0 8px;
}

#goal_area {
    background-color: rgb(153, 252, 219);
    border-radius: 10px;
    margin: 0 8px;
}

.mision_txt_mrgn {
    padding: 0 5%;
}